#sec{
	width: 90%;
	border: 2px solid black;
	border-radius: 10px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
h1, p{
	text-align: center;
}
p{
	color: gray;
}
#boxes{
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: space-around;
}
.box{
	width: 50px;
	height: 60px;
	border: 1px solid gray;
	border-radius: 10px;
	margin-inline: 5px;
	font-size: 50px;
	color: gray;
	text-align: center;
}
